.color_item {
    width: 50px;
    height: 50px;
    margin: 0 8px;
    cursor: pointer;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.gray {
    background-color: gray;
}

.color_item:hover,
.color_item.active {
    transform: scale(1.2);
    border: 5px solid #000;
    transition: all 0.1s ease-in;
}